NEXT_PUBLIC_WP_URL=https://carpeneterbullet.in.net
WC_KEY=ck_your_consumer_key_here
WC_SECRET=cs_your_consumer_secret_here
NEXT_PUBLIC_UPI_ID=yourname@upi
NEXT_PUBLIC_UPI_NAME=CarpenterBullet
NEXT_PUBLIC_STORE_NAME=CarpenterBullet
