NEXT_PUBLIC_WP_URL=https://your-wordpress-site.com
WC_KEY=ck_your_consumer_key_here
WC_SECRET=cs_your_consumer_secret_here
NEXT_PUBLIC_UPI_ID=YOUR_UPI_ID
NEXT_PUBLIC_UPI_NAME=YOUR_NAME
NEXT_PUBLIC_STORE_NAME=YOUR_STORE_NAME
